<launch>

   <master auto="start"/>
 <!-- Run the map server --> 
    <node name="map_node" pkg="map_server" type="map_server" args="$(find nav_stack)/maps/map3/3L_1.yaml" />

    <include file="$(find nav_stack)/launch/lidar.launch"/>
    <include file="$(find nav_stack)/launch/freenect_lite.launch"/>
 <!--- Run AMCL --> 
    <include file="$(find  nav_stack)/launch/amcl.launch" />

   <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find nav_stack)/config/movebase/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find nav_stack)/config/movebase/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find nav_stack)/config/movebase/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find nav_stack)/config/movebase/global_costmap_params.yaml" command="load" /> 
    <rosparam file="$(find nav_stack)/config/movebase/base_local_planner_params.yaml" command="load" />
    <!--rosparam file="$(find nav_stack)/config/movebase/move_base_params.yaml" command="load" /--> 
    <!--rosparam file="$(find nav_stack)/config/movebase/navfn_global_planner_params.yaml" command="load" /-->
 </node>
</launch> 
